.data-Grid{
    font-size: 15px;
    border-radius: 0.428rem;
}
.item-Name{
    
    font-weight: bold;
}
.main-class{
    border-radius: 0.428rem;
}
.btn-Edit{
    border: 1px solid #8dc454;
    padding: 0.2rem 1.5rem;
    color: #8dc454;
}
.btn-Create-New-Project{
    padding: 10px;
    background-color: #8DC454;
    color: white;
    border: 0;
}
.group-Panel{
    color: blue;
}