.importItem{
    background-color: #8dc454;
}
.btn-Edit{
    border: 1px solid #8dc454;
    padding: 0.2rem 1.5rem;
    color: #8dc454;
}
.btn-Create-New-Project{
    // padding: 10px;
    background-color: #8DC454;
    color: white;
    border: 0;
}
.toolbar-Class{
    margin-left: 20px;
}