
.box-stepper{
    .bs-stepper.wizard-modern .bs-stepper-header {
        border-bottom: 1px solid #e3e3e3;
    }
    .font-item{
     font-size: .875rem;;
    }
    .checkBox-font{
        font-size: 1rem;
    }
    .item-wrap{
        margin-bottom: 1rem;
    }
    .input-wrap{
        margin-bottom: .286rem;
    }
    .alerts{
        margin:1rem 0  .286rem;
    }

}
.inbound_text{
    font-size: .875rem;
 
}
.inbound{
    .collapse-title{
        color: blue;
    }
}
[dir] [class*='collapse-'] .card:not(:last-of-type) {
    border-bottom: none;
}
.inbound-comp.card {
    box-shadow: 0 4px 24px 0 #0000001a
}
.treebeard{
    ul li > div {
        padding: 0 !important;
    }
    .css-f91fgu {
        background-color: #fff !important;
        border-left: 1px dashed;
    }
    .css-79elbk {
        position: relative;
        margin-bottom: 10px; 
    }
    .header-contain {
        &::before {
            content: "-----";
            color: #b5b5b5;
            font-weight: 400;
        }
    }
}
.Animated_Modal{
    .dx-visibility-change-handler{
        max-width: 689px !important;
    }
    @media (min-width:1100px) {
        ._3bARu {
            width: 54% !important;
        }
    }
}