
.box-stepper{
    .bs-stepper.wizard-modern .bs-stepper-header {
        border-bottom: 1px solid #e3e3e3;
    }
    .font-item{
     font-size: .875rem;;
    }
    .checkBox-font{
        font-size: 1rem;
    }
    .item-wrap{
        margin-bottom: 1rem;
    }
    .input-wrap{
        margin-bottom: .286rem;
    }
    .alerts{
        margin:1rem 0  .286rem;
    }

}