@import "../../@core/scss/base/bootstrap-extended/variables";


.breadcrumb-Top{
    .css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root {
        font-size: 16px ;
        font-family: $font-family-monospace;
    }
}
.input-feild{
    // .MuiInputBase-input {
        
    //     border: 0;
    //     height: 0.1rem;
    // }
    .sonar-field-helper{
        margin-bottom: 5px;
    }
    
    .project-text{
        margin-bottom: 16px;
    }

    .MuiDivider-root {
       
         background-color: none; 
    }
    .grp-text{
        padding-bottom: 5px;
    }
    
}
.select-box{
    .select-box-option:hover{
        background-color:  #8DC454 !important ;
    }
}
.input-feild{
    padding-top: 15px;
}

.btn-relief {
    // box-shadow:  0 -3px 0 0 rgb(34 41 47 / 20%)";
    border-color: #8DC454 !important;
 
    transition: all 0.2s ease;
}
.btn-relief:active {
    outline: none;
    box-shadow: none;
    transform: translateY(3px) !important;
}
.valid_star{
    color: red;
}
.form-text{
    font-family: $font-family-monospace;
    color: #5e5873;
    font-size: 14px;
     margin: 0;
}
.form-control:focus {
    background-color: #fff;
    border-color: #8DC454 ;
    color: #5e5873;
}
.css-26l3qy-menu{
    z-index: 9999 !important;
}